html, body {
    background-color: #2D2F3D;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container h1 {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.input-fields {
    position: relative;
    width: 100%;
    max-width: 30rem;
    margin: 20px 0;
}

.input-fields input {
    height: 3rem;
    background-color: transparent;
    border: 2px solid #979797;
    border-radius: 10px;
    outline: none;
    color: #aaa;
    padding: 0 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-fields input:hover {
    border-color: #FF6300;
}

.input-fields input::placeholder {
    color: #aaa;
}

.input-fields .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa;
}

.recall-forget {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
}

.recall-forget label {
    color: #aaa;
}

.recall-forget input {
    margin-right: 5px;
}

.recall-forget a {
    color: #0D95F8;
    text-decoration: none;
}

.recall-forget a:hover {
    text-decoration: underline;
}

.container button {
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FF6300;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    margin-top: 30px;
}

.container button:hover {
    background-color: #e55900;
}

.signup-link {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.signup-link p {
    color: #aaa;
}

.signup-link p a {
    color: #618E00;
    font-weight: bold;
    text-decoration: none;
}

.signup-link p a:hover {
    text-decoration: underline;
}
