.container {
  display: flex;
  flex-direction: column;
  background-color: #2D2F3D;
  font-family: 'Inter', sans-serif;
  color: #FFF;
  text-align: center;
  gap: 3rem;
  padding: 2rem;
}

.container h1 {
  font-size: 1.375rem;
  color: #fff;
}

.form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  position: relative;
  width: 100%;
}

.select {
  width: 25rem;
  height: 3.5rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 2.5px solid #979797;
  border-radius: 10px;
  color: #aaa;
  font-size: 1rem;
  appearance: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.select:hover {
  border-color: #FF6300;
}

.select option {
  background-color: #fff;
  color: #2D2F3D;
  font-size: 1rem;
}

.success-text {
  color: #0f0;
  font-weight: bold;
}

.error-text {
  color: #f00;
  font-weight: bold;
}

.delivery-button::hover {
    background-color: #ca4e01;
}

button.delivery-button:hover {
    background-color: #ca4e01;
    color: #fff;
}

