.map-wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.map-wrapper #map, 
.map-wrapper .leaflet-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
} 
